In [24]:
# Imports

import requests
import pandas as pd

In [25]:
# Data USA API
# List of all variables: https://datausa.io/api/cubes
# Ratio of physicians: https://datausa.io/api/data?drilldowns=State&measures=Patient%20to%20Primary%20Care%20Physician%20Ratio&year=2022

url_pollution = 'https://datausa.io/api/data?drilldowns=State&measures=Air%20Pollution&year=2021'
url_population = 'https://datausa.io/api/data?drilldowns=State&measures=Population&Year=2021'

In [26]:
 def get_data_from_api(url):   
    # Get the data from the API endpoint
    response = requests.get(url)

    print(response.status_code)
    info = response.json()
    print(info.keys())
    # print(info)
    df = pd.DataFrame(info['data'])
    display(df.head())
    return df

In [27]:
# Population API

df = get_data_from_api(url_population)

df_population2021 = df[['ID State', 'State', 'Population']].copy()
df_population2021['ID State'] = df_population2021['ID State'].map(lambda s: s[-2:])
display(df_population2021.sort_values(by='Population', ascending=False))

df_population2021.to_csv('population_2021.csv')

200
dict_keys(['data', 'source'])

    ID State       State  ID Year  Year  Population  Slug State
0  04000US01     Alabama     2021  2021     4997675     alabama
1  04000US02      Alaska     2021  2021      735951      alaska
2  04000US04     Arizona     2021  2021     7079203     arizona
3  04000US05    Arkansas     2021  2021     3006309    arkansas
4  04000US06  California     2021  2021    39455353  california

   ID State                 State  Population
4        06            California    39455353
43       48                 Texas    28862581
9        12               Florida    21339762
32       36              New York    20114745
38       42          Pennsylvania    12970650
13       17              Illinois    12821813
35       39                  Ohio    11769923
10       13               Georgia    10625615
33       37        North Carolina    10367022
22       26              Michigan    10062512
30       34            New Jersey     9234024
46       51              Virginia     8582479
47       53            Washington     7617364
2        04               Arizona     7079203
21       25         Massachusetts     6991852
42       47             Tennessee     6859497
14       18               Indiana     6751340
20       24              Maryland     6148545
25       29              Missouri     6141534
49       55             Wisconsin     5871661
5        08              Colorado     5723176
23       27             Minnesota     5670472
40       45        South Carolina     5078903
0        01               Alabama     4997675
18       22             Louisiana     4657305
17       21              Kentucky     4494141
37       41                Oregon     4207177
36       40              Oklahoma     3948136
6        09           Connecticut     3605330
51       72           Puerto Rico     3311274
44       49                  Utah     3231370
15       19                  Iowa     3179090
28       32                Nevada     3059238
3        05              Arkansas     3006309
24       28           Mississippi     2967023
16       20                Kansas     2932099
31       35            New Mexico     2109366
27       31              Nebraska     1951480
12       16                 Idaho     1811617
48       54         West Virginia     1801049
11       15                Hawaii     1453498
29       33         New Hampshire     1372175
19       23                 Maine     1357046
39       44          Rhode Island     1091949
26       30               Montana     1077978
7        10              Delaware      981892
41       46          South Dakota      881785
34       38          North Dakota      773344
1        02                Alaska      735951
8        11  District of Columbia      683154
45       50               Vermont      641637
50       56               Wyoming      576641

In [29]:
# Polution API

df = get_data_from_api(url_pollution)

df_pollution2021 = df[['ID State', 'State', 'Air Pollution']].copy()
df_pollution2021['ID State'] = df_population2021['ID State'].map(lambda s: s[-2:])
display(df_pollution2021.sort_values(by='Air Pollution', ascending=False))

df_pollution2021.to_csv('pollution_2021.csv')

200
dict_keys(['data', 'source'])

    ID State       State  ID Year  Year  Air Pollution  Slug State
0  04000US01     Alabama     2021  2021           9.20     alabama
1  04000US02      Alaska     2021  2021           6.45      alaska
2  04000US04     Arizona     2021  2021           6.30     arizona
3  04000US05    Arkansas     2021  2021           9.10    arkansas
4  04000US06  California     2021  2021           8.10  california

   ID State                 State  Air Pollution
8        11  District of Columbia          10.30
10       13               Georgia           9.60
0        01               Alabama           9.20
3        05              Arkansas           9.10
38       42          Pennsylvania           9.00
35       39                  Ohio           9.00
40       45        South Carolina           8.95
14       18               Indiana           8.95
42       47             Tennessee           8.80
17       21              Kentucky           8.70
24       28           Mississippi           8.70
13       17              Illinois           8.70
18       22             Louisiana           8.70
30       34            New Jersey           8.60
33       37        North Carolina           8.50
36       40              Oklahoma           8.20
25       29              Missouri           8.10
4        06            California           8.10
20       24              Maryland           8.00
48       54         West Virginia           7.80
46       51              Virginia           7.70
9        12               Florida           7.70
15       19                  Iowa           7.50
43       48                 Texas           7.30
7        10              Delaware           7.30
6        09           Connecticut           7.20
22       26              Michigan           7.10
49       55             Wisconsin           7.00
16       20                Kansas           6.70
32       36              New York           6.60
19       23                 Maine           6.60
12       16                 Idaho           6.60
1        02                Alaska           6.45
47       53            Washington           6.40
37       41                Oregon           6.35
2        04               Arizona           6.30
23       27             Minnesota           6.30
39       44          Rhode Island           6.10
21       25         Massachusetts           5.95
44       49                  Utah           5.80
27       31              Nebraska           5.70
29       33         New Hampshire           5.70
31       35            New Mexico           5.60
45       50               Vermont           5.40
28       32                Nevada           5.40
26       30               Montana           5.10
41       46          South Dakota           5.00
5        08              Colorado           4.90
34       38          North Dakota           4.70
11       15                Hawaii           4.30
50       56               Wyoming           4.20