In [7]:
# Transform the original ascii file to a dataframe

In [8]:
import pandas as pd

In [9]:
# Constants

chosen_columns = ['_STATE', 'SEXVAR', 'GENHLTH', 'MEDCOST1', 'EXERANY2', 'CVDINFR4', 'CVDCRHD4', 
                  'CVDSTRK3', 'ASTHMA3', 'ADDEPEV3', 'DIABETE4', 'EDUCA', 'VETERAN3', 'INCOME3', 
                  'WEIGHT2', 'HEIGHT3', 'SMOKE100', 'ACEHURT1', '_URBSTAT', '_AGEG5YR', '_BMI5CAT', 
                  'BPHIGH6', 'TOLDHI3', 'CHCSCNCR', 'CHCOCNCR', 'HAVARTH5', 
                  '_RACE', '_DRNKWK1', '_FRUTSU1', '_VEGESU1'
]
print(len(chosen_columns))

clear_names = ['state_id', 'sex', 'general_health', 'med_cost_issue', 'physical_activity', 'heart_attack', 'angina',
                'stroke', 'asthma', 'depression', 'diabete', 'education', 'veteran', 'income', 
                'weight', 'height', 'smoked_100_cig', 'childhood_violence', 'is_urban', 'age', 'bmi',
                'blood_pressure', 'cholesterol', 'skin_cancer', 'other_cancer', 'arthritis', 
                'race', 'alcohol', 'fruits', 'vegetables'
]


# removed 'CHECKUP1', 'MARITAL', '_BMI5', 'FRUIT2', 'FVGREEN1', 

# print(*chosen_columns, sep='\n')
# print(*list(zip(chosen_columns, clear_names)), sep='\n')

30

In [10]:
# Information on the columns name and size 
# Ascii file: fixed format with 2052 characters on each line 

# Method 1 (use pandas to scrape the table)
# col_info = pd.read_html('https://www.cdc.gov/brfss/annual_data/2021/llcp_varlayout_21_onecolumn.html')[0]

# Method 2 (use beautifulsoup to scrape the table)
col_info = pd.read_csv('columns_name.csv')
col_info.drop(['Unnamed: 0'], axis=1, inplace=True)

display(col_info.head(10))
print(col_info.shape)

   Starting Column Variable Name  Field Length
0                1        _STATE             2
1               17        FMONTH             2
2               19         IDATE             8
3               19        IMONTH             2
4               21          IDAY             2
5               23         IYEAR             4
6               32      DISPCODE             4
7               36         SEQNO            10
8               36          _PSU            10
9               63      CTELENM1             1

(303, 3)

In [11]:
# Load Data (ascii file in a fixed format)

col_info2 = col_info[col_info['Variable Name'].isin(chosen_columns)]
display(col_info2.head(10))

list_rows = []
with open('../Data/CDC/LLCP2021.ASC', 'r') as f:
    for i, line in enumerate(f):   # i-th line in the text file
        if not i % 1000:
            print(i)
        if i < 5:
            print(line)
        row = {}
        line = line.strip()
        # print(line)
        for j, col in enumerate(col_info2['Variable Name']):   # j-th 'column' in each line
            start = col_info2.iloc[j, 0] -1
            end = start + col_info2.iloc[j, 2]
            row[col] = line[start:end]
        list_rows.append(row)
#         if i == 3000:
#             break

    Starting Column Variable Name  Field Length
0                 1        _STATE             2
31               91        SEXVAR             1
32              101       GENHLTH             1
38              111      MEDCOST1             1
40              113      EXERANY2             1
41              114       BPHIGH6             1
44              117       TOLDHI3             1
46              119      CVDINFR4             1
47              120      CVDCRHD4             1
48              121      CVDSTRK3             1

0
01              0101192021     11002021000001                 11 121 02 01012             2         52010880312223 21122211221223  1222108                                    141        111278805 007204112222211333888      10920200112      10155520420320110123                                                                                                              2         22222111111153                                                                                                                                                                                                                                                                      1001                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                      11     101101139.7661577                             279.5323155     01         9                                                                                                                                                                                                       10.51901912874.242902                                                744.745531                                                                                                                                          2321921122221121                                                        0101  211112112706059150032661454111233112000100000111200000100005700430014010000110001000002141111001

01              0101212021     11002021000002                 11 121 02 01012             2         38888  012211112112122 222211981121110                                    961        2 1288877 777705062111212 33888      2        22      101555201555201207                                                                                                                2         22222211111155                                                                                                                                                                                                                                                                      1001                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                      11     201101139.7661577                             279.5323155     02         9                                                                                                                                                                                                       10.51901912874.242902                                                299.137394                                                                                                                                          1111912121113111                                                        0202  222222102676066168          91494112000100000122200000100001400000014010000110001000001281111001

01              0101212021     11002021000003                 11 121 02 01012             2         28888  022212112222122 222221982                                          341        2 1278803 017005052222222 33888      2        22      101555555201201203                                                                                                                2         22222211111155                                                                                                                                                                                                                                                                      1001                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                      11     101101139.7661577                             279.5323155     02         9                                                                                                                                                                                                       10.51901912874.242902                                                587.862986                                                                                                                                          1111922111113233                                                        0202  222222112726065165077112829321224112000100000122200000100000000140014004300110001000000711211001

01              0101172021     11002021000004                 11 121 02 01012             2         2881088021211112122222 222221562                                          141        2 1278807 019505042222222 3310103010611020200122      203205303204308205                                                                                                                2         71222213111155                                                                                                                                                                                                                                                                      1001                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                      11     301101139.7661577                             279.5323155     01         9                                                                                                                                                                                                       10.51901912874.242902                                                1099.62157                                                                                                                                          1121112122113233                                                        0101  2111120916250641630884533474212541110142003001  200710043001000570027007100110001140001651111001

01              0101152021     11002021000005                 11 121 02 01011             1         53088300312114 2111712 222221652                                          131        2 8288804 020605111221222 23888      10920200111777777101555101202202101                                                                                                                2         22222211111155                                                                                                                                                                                                                                                                      1001                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                      21     201101139.7661577                             279.5323155     06         9                                                                                                                                                                                                       9            2144.769                                                1711.82587                                                                                                                                          2311911121113233                                                        0107  272471122766071180093442873321124112000100000111100000100010000290029010000110001000002581111001

1000
2000
3000
4000
5000
6000
7000
8000
9000
10000
11000
12000
13000
14000
15000
16000
17000
18000
19000
20000
21000
22000
23000
24000
25000
26000
27000
28000
29000
30000
31000
32000
33000
34000
35000
36000
37000
38000
39000
40000
41000
42000
43000
44000
45000
46000
47000
48000
49000
50000
51000
52000
53000
54000
55000
56000
57000
58000
59000
60000
61000
62000
63000
64000
65000
66000
67000
68000
69000
70000
71000
72000
73000
74000
75000
76000
77000
78000
79000
80000
81000
82000
83000
84000
85000
86000
87000
88000
89000
90000
91000
92000
93000
94000
95000
96000
97000
98000
99000
100000
101000
102000
103000
104000
105000
106000
107000
108000
109000
110000
111000
112000
113000
114000
115000
116000
117000
118000
119000
120000
121000
122000
123000
124000
125000
126000
127000
128000
129000
130000
131000
132000
133000
134000
135000
136000
137000
138000
139000
140000
141000
142000
143000
144000
145000
146000
147000
148000
149000
150000
151000
152000
153000
154000
155000
156000
157000
158000
159000
160000
161000
162000
163000
164000
165000
166000
167000
168000
169000
170000
171000
172000
173000
174000
175000
176000
177000
178000
179000
180000
181000
182000
183000
184000
185000
186000
187000
188000
189000
190000
191000
192000
193000
194000
195000
196000
197000
198000
199000
200000
201000
202000
203000
204000
205000
206000
207000
208000
209000
210000
211000
212000
213000
214000
215000
216000
217000
218000
219000
220000
221000
222000
223000
224000
225000
226000
227000
228000
229000
230000
231000
232000
233000
234000
235000
236000
237000
238000
239000
240000
241000
242000
243000
244000
245000
246000
247000
248000
249000
250000
251000
252000
253000
254000
255000
256000
257000
258000
259000
260000
261000
262000
263000
264000
265000
266000
267000
268000
269000
270000
271000
272000
273000
274000
275000
276000
277000
278000
279000
280000
281000
282000
283000
284000
285000
286000
287000
288000
289000
290000
291000
292000
293000
294000
295000
296000
297000
298000
299000
300000
301000
302000
303000
304000
305000
306000
307000
308000
309000
310000
311000
312000
313000
314000
315000
316000
317000
318000
319000
320000
321000
322000
323000
324000
325000
326000
327000
328000
329000
330000
331000
332000
333000
334000
335000
336000
337000
338000
339000
340000
341000
342000
343000
344000
345000
346000
347000
348000
349000
350000
351000
352000
353000
354000
355000
356000
357000
358000
359000
360000
361000
362000
363000
364000
365000
366000
367000
368000
369000
370000
371000
372000
373000
374000
375000
376000
377000
378000
379000
380000
381000
382000
383000
384000
385000
386000
387000
388000
389000
390000
391000
392000
393000
394000
395000
396000
397000
398000
399000
400000
401000
402000
403000
404000
405000
406000
407000
408000
409000
410000
411000
412000
413000
414000
415000
416000
417000
418000
419000
420000
421000
422000
423000
424000
425000
426000
427000
428000
429000
430000
431000
432000
433000
434000
435000
436000
437000
438000

In [12]:
# Save the dataframe obtained after transforming the original ascii file

data1 = pd.DataFrame(list_rows) 
data1 = data1.rename(columns=dict(zip(chosen_columns, clear_names)))
display(data1.head())
data1.to_csv('brfss2021.csv')

,state_id,sex,general_health,med_cost_issue,physical_activity,blood_pressure,cholesterol,heart_attack,angina,stroke,...,height,smoked_100_cig,childhood_violence,is_urban,race,age,bmi,alcohol,fruits,vegetables
0,01,2,5,2,2,3,1,2,2,2,...,0411,1,1,1,1,11,1,00000,000100,000214
1,01,2,3,2,1,1,1,2,1,2,...,0506,2,1,1,2,10,,00000,000100,000128
2,01,2,2,2,2,1,2,2,1,2,...,0505,2,1,1,2,11,3,00000,000100,000071
3,01,2,2,2,1,1,1,2,2,2,...,0504,2,3,1,1,09,4,00300,000114,000165
4,01,1,5,2,1,4,1,1,7,1,...,0511,2,1,1,7,12,3,00000,000100,000258

In [14]:
# # Extract the first few lines for presentation

# file_in = open('../Data/CDC/LLCP2021.ASC', 'r')
# file_out = open('brfss2021_extract.txt','w')

# for i, line in enumerate(file_in):
#     if i == 6:
#         break
#     file_out.write(line)

# file_in.close()
# file_out.close()